:root {

    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%)
}

.attribution { 
    font-size: 0.688rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*font-family: 'Red Hat Display', sans-serif;*/

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--paleBlue);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: min-content;
    text-align: center;
    margin-top: 10rem;
}

.container-info {
    max-width: 100%;
    background-color: #FFF;
    text-align: center;
    padding: 1.25rem 3.125rem;
    border-radius: 0 0 1rem 1rem;
    margin-top: -0.5rem;
}

.container-info__plan {
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: var(--veryPaleBlue);
    padding: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.container-plan__cost {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container-plan__price{
    color: var(--DesaturatedBlue);
}

.container-plan__type{
    font-weight: 700;
}

.container-info__change:hover {
    text-decoration: none;
}

.container-info__buttons {
    display: grid;
}

.container-button__payment {
    background-color: var(--brightBlue);
    border-radius: 0.625rem;
    padding: 0.625rem;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 1rem;
    box-shadow: 0rem 1rem 2rem -1rem hsl(224, 23%, 55%);
}

.container-button__payment:hover {
    background-color: hsl(245, 83%, 68%);
}

.container-button__cancel {
    text-decoration: none;
    color: var(--DesaturatedBlue);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.container-button__cancel:hover {
    color: var(--DarkBlue);
}

.container h2{
    color: var(--DarkBlue);
}

.container-plan__cost img{
    grid-row: span 2;
}

.container-info p {
    color: var(--DesaturatedBlue);
}

.container img {
    border-radius: 1rem 1rem 0 0;
}

@media (max-width: 450px) {
    .container {
        width: 90%;
    }
    .container img {
        width: 100%;
    }
    .container-info {
        padding: 1.25rem 1.875rem;
    }
    .container-info__plan a{
        font-size: 0.75rem;
    }
    .container-plan__cost {
        column-gap: 0.5rem;
        gap: 0.4rem;
    }
    .container-plan__type{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 0.688rem;
    }
    .container-plan__price{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 0.75rem;
    }
}